body{
    margin: 0;
    padding: 0;
}

#sign-up{
    width: 95%;
}
#login{
    margin: 0px auto;
    width: 100%;
}
.card{
    display: flex;
    justify-content: space-between;
    height: auto;

}
.card a{
    margin: 0px auto 5% auto;
    width: 80%;
}
#other-opt{
    width: 90%;
    height: 30px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: -5%;
    margin-bottom: 5%;

}
.signUp-head{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-weight: bold;
}
form{
    padding: 7% auto;
    margin-bottom: 5%;

}

.form-group{
    margin: 3% auto;
    width: 90%;
}

.form-head{
    width: 100%;
    background-color: #1266f1;
    color: white;
}

main{
    margin: 0px auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#signUp-link{
    margin-left: 5%;
}
#forget-link{
    margin-right: -20%;
}
#other-opt a{
    text-decoration: none;
}
#other-opt a:hover{
    border-bottom: 1px solid #1266f1;
}

#forget-password{
    display: none;
    background-color: whitesmoke;
    border: none;
}
#forget-password .card{
    height: 300px;
    margin: 0 auto;
}

#forget-password #other-opt{
    width: 50%;
    margin-left: 6%;
    margin-right: auto;
    text-align: left;
}
#reset-password{
    border: none;
    background-color: whitesmoke;
}